<div style="text-align: center; color: #dedede;">
    <div style="font-size: 6em; font-weight: bold; margin: 1em;"><i class="frown outline icon" style="height: auto"></i></div>
    <div style="font-size: 2em;">暂无数据...</div>
</div>